<form [formGroup]="myForm">
    <div class="container">
  

      <div class="form-group col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Parameter Name"
                [maxLength]="50"
                formControlName="name"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div class="form-group col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Description"
                [maxLength]="50"
                required
                formControlName="description"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div class="form-group col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Id Code"
                [maxLength]="50"
                required
                formControlName="idCode"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <button (click)="save()">save</button>
        <app-router-button (click)="save()"></app-router-button>
      </div>
    </div>
  </form>
  