<form [formGroup]="systemRequestForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Name"
            [maxLength]="50"
            required
            formControlName="name"
          />
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Version"
            [maxLength]="50"
            formControlName="version"
          />
        </mat-form-field>

        <div class="error-message" *ngIf="systemRequestForm.get('version')?.invalid">
          <ng-container *ngFor="let errorMessage of formErrors['version']">
            <div>{{ errorMessage }}</div>
          </ng-container>
          <div *ngIf="systemRequestForm.get('version')?.hasError('customError')">
            {{ systemRequestForm.get('version')?.getError('customError') }}
          </div>
        </div>

      </div>
  
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Main Menu"
            [maxLength]="50"
            formControlName="mainMenu"
          />
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Contact Email"
            [maxLength]="50"
  
            formControlName="contactEmail"
          />
        </mat-form-field>
        <div class="error-message" *ngIf="systemRequestForm.get('contactEmail')?.invalid">
          <ng-container *ngFor="let errorMessage of formErrors['contactEmail']">
            <div>{{ errorMessage }}</div>
          </ng-container>
          <div *ngIf="systemRequestForm.get('contactEmail')?.hasError('customError')">
            {{ systemRequestForm.get('contactEmail')?.getError('customError') }}
          </div>
        </div>
        
      </div>
  
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Support Phone"
            [maxLength]="50"
            formControlName="supportPhone"
          />
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
  