@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';

@include nb-install-component() {
  display: flex;
  width: 100%;

  .logo-container {
    cursor: pointer;
  }

  background-color: red !important;
}


.text-primary {
  color: #0D88BC !important;
}
