.tempImagen {
  width: 25%;
  max-height: 25%;
}


.buttonCloseMain {
  font-size: x-large;
  position: relative;
}


.foto-editor {
  display: flex;
  background-color: rgb(129, 19, 19);
}




.buttonClose {
  font-size: x-large;
  position: absolute;
  top: 0%;
  left: 93%;
  color: red;
}








