.main {
  width: 70%;
  max-height: 70%;
}
.maindet {
  padding-top: 6%;
}

.customDetail {
  display: flex;
  //flex-wrap: nowrap;
  flex-direction: column;
  width: 120px !important;
  max-height: 120px !important;
  height: 120px !important;
  max-height: 120px !important;
  padding: 1%;
}

.customDetail div img {
  width: 100%;
  max-height: 100%;
  padding: 1%;
}

@media (max-width: 700px) {
  .customDetail {
    flex-direction: row;
    width: 60% !important;
    max-height: 60% !important;
  }
}

.zoom {
  border-radius: 15px;
  transition: transform 0.45s;
  text-align: center;
}

.zoom img:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
