<div class="form-group row">
  <div class="col-md-12 col-sm-12 col-lg-6 maindet">
    <div class="zoom">
      <img
        [src]="concateInput(urlApiImagen, colru?.imageSrc)"
        [alt]="colru?.imageAlt"
        class="main"
      />
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-6">
    <div class="customDetail">
      <div *ngFor="let image of lstim?.lstCorouseImages">
        <img
          [src]="concateInput(urlApiImagen, image.imageSrc)"
          [alt]="image.imageAlt"
          [attr.id]="image.imagetoken"
          class="main"
          (click)="changeFothoDetail(image)"
        />
      </div>
    </div>
  </div>
</div>
