<form [formGroup]="myForm">
  <div class="form-row">

    <div class="contener">
      <label for="formGroupExampleInput" i18n>*Product</label>

      <div class="form-group paddingObect col-sm-4">
        <mat-form-field>
          <mat-select placeholder="Product" formControlName="idProduct">
            <mat-option
              *ngFor="let prod of listProductByUser"
              [value]="prod.idProduct"
            >
              {{ prod.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="contener">
      <div class="form-group paddingObect col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm" i18n
              >Bar Code</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              formControlName="barCode"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="contener">
      <div class="form-group paddingObect col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm" i18n
              >Count</span
            >
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              formControlName="count"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="contener">
      <div class="form-group paddingObect col-sm-4">
        <div class="class">
          <div class="input-group input-group-sm mb-3">
     <app-date-picker [placeholder]="'Expiration Date'"></app-date-picker>
          </div>
       
        </div>
      </div>
    </div>

    <div
      class="foto-editor-item buttonCloseMain"
      *ngIf="filePath1 && filePath1 !== ''"
    >
      <label class="buttonClose" (click)="close(1)">X</label>
      <img [src]="filePath1" [alt]="myForm.value.name" class="tempImagen" />
    </div>
  </div>

  <div class="mb-3">
    <label for="formFileSm" class="form-label" i18n>Attach Image</label>
    <input
      enctype="multipart/form-data"
      class="form-control form-control-sm"
      id="formFileSm"
      type="file"
      accept="imagen/*"
      #inputFile
      (change)="loadFile($event)"
    />
  </div>


  <div class="form-group paddingObect">
    <app-router-button i18n
      [idCode]="'111saveSave Stock'"
      (click)="save()"
    ></app-router-button>
    {{ locale }}
  </div>
</form>
