.carousel-container {
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.carousel-container app-imagen-catch-information.image-active {
  display: block;
  width: 100%;
  max-height: 100%;
  height: 400px;
  //border-radius: 79px;
}

.carousel-container app-imagen-catch-information.image-active-active {
  display: block;
  width: 100%;
  max-height: 100%;
  //  width: 400px;
  height: 400px;
  //border-radius: 79px;
}
.carousel-container app-imagen-catch-information.image-active-off {
  display: none;
  width: 100%;
  max-height: 100%;
  //  width: 400px;
  height: 400px;
}

.carousel-dot-container {
  //position: absolute ;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1 rem;
}

.dot {
  cursor: pointer;
  margin: 0 5px;
  //background-color: red;
  border-radius: 50%;
  display: inline;
  transition: opacity 0.6s ease;
  opacity: 0.5;
  object-fit: none;
  text-align: center;
  font-size: xx-large;
  background: rgb(225, 213, 202);
}
.active,
.dot:hover {
  opacity: 1;
}
.hid {
  display: none;
}

.imagenContainer {
  align-items: center;
  position: relative;
  padding-top: 1px;
  //color: white;
}

.row-left {
  position: absolute;

  left: -1%;
  top: 50%;
}
.row-right {
  position: absolute;

  left: 90%;
  top: 50%;
}

.row-right-off {
  display: none;
}
.row-left-off {
  display: none;
}

.row-detail {
  position: absolute;
  left: 50%;
  top: 90%;
  background-color: rgb(228, 228, 224);
  text-align: center;
  transition: opacity 1s ease;
  opacity: 2;
  @media (min-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 1024px) {
    font-size: 19px;
  }
  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

.row-detail:hover {
  opacity: 16;
  transition: opacity 4s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(15, 149, 211);
  color: whitesmoke !important;
}
