<div class="container">
  <div class="row">
    <div
      *ngFor="let listImagenes of listarArrayImages2; let j = index"
      class="col-md-12 col-sm-12 col-lg-6 custom"
      [attr.id]="listImagenes.tokenCol"
    >
      <div
        *ngIf="listarArrayImages2 && listarArrayImages2.length > 0"
        class="carousel-container"
      >
        <div
          *ngFor="let image of listImagenes.lstCorouseImages; let i = index"
          class="imagenContainer"
        >
          <div
            *ngIf="
              indicators || image.imageCountainerToken === selectCountainerToken
            "
          >
            <!--<div
            *ngIf="
              indicators &&
              listImagenes.tokenCol === selectCol &&
              image.imagetoken === selectToken
            "
            class="row-left"
            (click)="changeImageBack(image)"
            #backid
          >
            <span
              *ngIf="
                indicators &&
                listImagenes.tokenCol === selectCol &&
                image.imagetoken === selectToken
              "
              class="material-icons dot"
            >
              arrow_back_ios
            </span>
          </div>-->

            <div
              (click)="changeImageBack(image, listImagenes)"
              [ngClass]="[
                image.imagetoken === selectToken ? 'row-left' : 'row-left-off'
              ]"
            >
              <span class="material-icons dot"> arrow_back_ios </span>
            </div>
            <img
              [src]="image.imageSrc"
              [alt]="image.imageAlt"
              [attr.id]="image.imagetoken"
              [ngClass]="[
                image.firstObject !== undefined
                  ? 'image-active'
                  : 'image-active-off'
              ]"
              (mouseover)="changeImage(listImagenes, image)"
            />
            <!-- <app-imagen-visor
            (mouseover)="changeImage(listImagenes, image)"
            [image]="image"
            [secondimage]="imagenSelected"
          >
          </app-imagen-visor>-->
            <div
              (click)="changeImageNext(image, listImagenes)"
              [ngClass]="[
                image.imagetoken === selectToken ? 'row-right' : 'row-right-off'
              ]"
              [attr.id]="image.imageCountainerToken"
            >
              <span class="material-icons dot"> arrow_forward_ios </span>
            </div>

            <div
              (click)="changeImageNext(image, listImagenes)"
              [ngClass]="[
                image.firstObject !== undefined ||
                image.imagetoken === selectToken
                  ? 'row-detail'
                  : 'row-right-off'
              ]"
              [attr.id]="image.imageCountainerToken"
            >
              <a href="http://" class="link">Ver detalle </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
