<div *ngIf="!data.lazyLoad">


    <div mat-dialog-content *ngIf="data.code === 3">
    <img src="../../../../assets/imgs/warning-sign-9743.svg">
    <span class="warning">{{ data.message }}</span>
    <button nbButton fullWidth status="danger" (click)="deleteInformation()">Delete Information</button>
</div>

    <button nbButton fullWidth status="basic" (click)="cancelar()">Close </button>
</div>

<div *ngIf="data.lazyLoad" style="margin-left:10px">
    <div mat-dialog-content>
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>