<div class="container">
  <form [formGroup]="pageRequestForm" (ngSubmit)="onSubmit()">
    <nb-accordion multi=true>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Register New Page
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" placeholder="Title" required formControlName="title" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <textarea matInput placeholder="Content" formControlName="content"></textarea>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" placeholder="URL" formControlName="url" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <nb-checkbox formControlName="isPublished">Published</nb-checkbox>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" placeholder="Meta Keywords" formControlName="metaKeywords" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <input matInput type="text" placeholder="Meta Description" formControlName="metaDescription" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>

        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item expanded=true disabled="false">
        <nb-accordion-item-header>
         Search Information
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" placeholder="ID" formControlName="idToFind" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" placeholder="Title" formControlName="titleToFind" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" placeholder="Content" formControlName="contentToFind" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <mat-form-field>
                  <input matInput type="text" placeholder="URL" formControlName="urlToFind" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="findByparameter()">Search</button>
              </div>
            </div>
          </div>

          <app-table-datasource [datas]="datas" [defaultColumns]="defaultColumnsInput"
            (actionClicked)="handleActionClick($event)" (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)" [hasMorePagesT]="hasMorePagesT"
            [typeSearch]="typeSearch"></app-table-datasource>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </form>
</div>