<div class="flex-container">
  <form [formGroup]="chatForm">
    <div class="container form-group">
      <div class="row">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Key Word"
            [maxLength]="100"
            required
            formControlName="keyWord"
          />
        </mat-form-field>
      </div>
      <div class="row col-md-4">
        <button class="btn btn-primary" (click)="submit()">Speach</button>
      </div>
    </div>
  </form>
</div>
